
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  background-color: #fff4e1;
}
.panel1 {
	z-index: 0;
	}
.panel2 {
	z-index: 1;
	}
.panel-latent {
	visibility: hidden;
	height: 0px;
	}
.panel-active{
	visibility: visible;
	}	
.img {
	max-width: 100%;
	}
.button-latent {
	visibility: hidden;
	}
.button-active {
	visibility: visible;
    	z-index: 2;
    	font-family: blambot-fx-pro, sans-serif;
    	font-weight: 400;
    	font-style: normal;
    	font-size: 24px;
    	color: #cf691b;
    	background-color: transparent;
    	border: transparent;
    	cursor: pointer;
	}

.button-active:hover {
	color: #8c0017;
	}

a {
	margin: auto;
	}
.div1 {
	}
.div2 {
	position: absolute;
	z-index: 0;
	}
.div3 {
	position: relative;
	z-index: 1;
	}
.selectiondiv {
	position: relative;
	}
